<html>
  <head>
    <title>bagelq</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script>
  <body>
    <div id="app" class="container">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h3 class="my-0 mr-md-auto font-weight-normal">bagelq</h5>
      </div>
      <div class="row" v-show="!isMobile">
        <div class="col-12" align="center">
          <a href="#" v-on:click="prev">
            上一頁 |
          </a>
          {{Math.floor(offset/10)+1}} / {{Math.floor(nums/10)+1}} 頁 |
          <a href="#" v-on:click="next">
            下一頁 |
          </a>
          <a href="#" v-on:click="read(1)">降下去 |</a>
          <a href="#" v-on:click="read(-1)">升起來</a>
        </div>
      </div>
      <!-- not mobile -->
      <table class="table table-striped" v-show="!isMobile">
        <thead class="thead-dark">
          <tr>
            <th class="col-sm-5">名稱</th>
            <th class="col-sm-4">淨值</th>
            <th class="col-sm-3">偏移</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(fund, index) in funds">
            <td>
              {{fund.fundName}} <br/>
            </td>
            <td>
              {{fund.nav}} <br/> 
              <span style="font-size: medium; color: grey">{{(new Date(fund.lastUpdate*1000)).toLocaleDateString()}}</span>
            </td>
            <td :class="markDiv(index)">
              <span style="font-size: medium;">{{fund.div}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- mobile -->
      <div v-show="isMobile">
        <div class="row" style="border-width:1px;padding-bottom:5px;margin:5px auto;border-bottom-style:solid;">
            <div class="col-7">基金</div>
            <div class="col-5">
              <a href="#" v-on:click="sortDivSet">淨值/偏離</a> 
              <span v-show="sortDiv==-1">↑</span>
              <span v-show="sortDiv==1">↓</span>
            </div>
        </div>
        <div class="row" v-for="(fund, index) in funds" style="border-width:1px;padding-bottom:5px;margin:5px auto;border-bottom-style:dashed;">
          <div class="col-7">
            {{fund.fundName}} <br/>
            <span class="badge badge-secondary" style="font-size: small;">{{fund.currency}}</span> 
            <span class="badge badge-info" style="font-size: small;">{{fund.area}}</span>
          </div>
          <div class="col-5">
            {{fund.nav}} (<span :class="markSpan(index)">{{fund.div}}</span>)<br/>
            <span style="font-size: smaller; color: rgb(117, 112, 112)">{{(new Date(fund.lastUpdate*1000)).toLocaleDateString()}}</span>
          </div>
        </div>
        <infinite-loading :identifier="infiniteId" @infinite="infiniteHandler" spinner="waveDots"></infinite-loading>
      </div>
    </div>
  </body>
  <script>
    // vue
    var app = new Vue({
      el: '#app',
      data: {
        offset: 0,
        nums: 0,
        funds: [],
        sortDiv: 0,
        infiniteId: 0,
      },
      created() {
        console.log(navigator.userAgent);
        if(!this.isMobile) {
          this.read();
        }
      },
      computed: {
        isMobile: function() {
          return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }
      },
      methods: {
        read(sort) {
          if(sort) {
            this.sortDiv = sort;
            this.offset = 0;
          }

          let params = {
            offset: this.offset,
            nums: 10,
          };

          if(this.sortDiv != 0) {
            params["sort"] = this.sortDiv;
          }

          axios.get('/funds/apis/funds', { params})
          .then(res => {
            this.funds = res.data.funds;
            this.nums = res.data.num;
          })
          .catch(err => {
            console.error(err);
          });
        },
        home() {
          this.offset = 0;
          this.read();
        },
        next() {
          this.offset = ((this.offset + 10) > this.nums) ? this.offset : this.offset+10;
          this.read();
        },
        prev() {
          this.offset = ((this.offset - 10) < 0) ? 0 : this.offset-10;
          this.read();
        },
        markDiv(index) {
          let marker = "";

          if(this.funds[index].div < -10) {
            marker = "table-danger";
          }
          else if(this.funds[index].div < -5) {
            marker = "table-warning";
          }
          return marker; 
        },
        markSpan(index) {
          let marker = "";

          if(this.funds[index].div < -10) {
            marker = "text-danger";
          }
          else if(this.funds[index].div < -5) {
            marker = "text-warning";
          }
          return marker; 
        },
        sortDivSet() {
          if(this.sortDiv >= 0) {
            this.sortDiv = -1;
          }
          else if(this.sortDiv == -1) {
            this.sortDiv = 1;
          }
          this.offset = 0;
          this.funds = [];
          this.infiniteId += 1;
        },
        infiniteHandler($state) {
          let params = {
            offset: this.offset,
            nums: 10,
          };

          if(this.sortDiv != 0) {
            params["sort"] = this.sortDiv;
          }

          axios.get('/funds/apis/funds', { params})
          .then(res => {
            this.funds.push(...res.data.funds);
            this.nums = res.data.num;

            if(this.funds.length < this.nums) {
              this.offset += 10;
              $state.loaded();
            }
            else {
              $state.complete();
            }
          })
          .catch(err => {
            console.error(err);
          });
        },
      },
    });
  </script>
</html>